<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">


<head>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/my.css">

</head>


<body>

<form action="/addbook">

    <div  class="tablea">
    <ul class="nav nav-pills nav-stacked">
        <h3>欢迎管理员</h3>
        <li role="presentation" class="active"><a href="/manageStu">学生管理</a></li>
        <li role="presentation" class="active"><a href="/bookMg">图书管理</a></li>
    </ul>
    </div>

</form>



</body>
</html>